<nav>
    <a href="/">home</a> |
    <a href="/example1">example 1</a> |
    <a href="/example2">example 2</a> |
    <a href="/breweries/straub">Straub Brewery</a> |
    <a href="/breweries/straub/beers/amber">Straub Amber</a> |
    <a href="/breweries/straub/beers/lager?s=ambers">Query String</a> |
    <a href="/breweries/straub/beers/light?s=ambers#heading">Query String and Hash</a> |
    <a href="/breweries/straub/beers/GoundHogAltbier#heading">Hash</a> |
    <a href="/404">example 404</a> |
    <a href="javascript:void(0)">javascript: void</a> |
    <a>missing href</a> |
    <a href="http://google.com" target="_blank">blank target</a>
</nav>
<main id="main">
    <!-- ko if: viewModel() -->
    <div data-bind="template: { name: viewModel().template, data: viewModel, afterRender: afterRender }">
    </div>
    <!-- /ko -->
    <!-- ko ifnot: viewModel() -->
    <div>
        <!-- no view model -->
    </div>
    <!-- /ko -->
</main>
