<script id="t-beer" type="text/html">
    <div class="empty-component" data-bind="with: data">
        <h1 data-bind="text: heading"></h1>
        <div>params.brewery: <span data-bind="text: brewery"></span></div>
        <div>params.beer: <span data-bind="text: beer"></span></div>
        <div>params[0]: <span data-bind="text: param0"></span></div>
        <div>params[1]: <span data-bind="text: param1"></span></div>
    </div>
</script>
