<h1>{{title}}</h1>
<h2><small>{{subTitle}}</small></h2>
<p>
    There are lots of routers out there, and most of them do great things for us, but not 
    all of them are easy to extend.
</p>
<p>
    gidget seeks to fix that. gidget is a Domain-Service-Language (DSL), inspired by NancyFx 
    and Sinatra, for building MV* architectures. It can be used with plenty of routing/SPA 
    frameworks. All you need is a bootstrapper.
</p>
<p>
    Because gidget is bootstrapped and designed with Dependency Injection from the start, 
    it's easy to create custom bootstrappers with the tools that you want to use.
</p>
