
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<script type="text/javascript" src="/scripts/lib/bower_components/sammy/lib/sammy.js"></script>
<script type="text/javascript" src="/scripts/lib/gidget/gidget.js"></script>
<script type="text/javascript" src="/scripts/lib/gidget/gidget.bootstrappers.sammy.js"></script>
<script type="text/javascript" data-main="/scripts/sammyRequireStart.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
