
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<script type="text/javascript" src="/scripts/lib/bower_components/sammy/lib/sammy.js"></script>
<script type="text/javascript" src="/scripts/lib/bower_components/hilary/release/hilary.js"></script>
<script type="text/javascript" src="/scripts/lib/gidget/gidget.js"></script>
<script type="text/javascript" src="/scripts/lib/gidget/gidget.bootstrappers.sammy.js"></script>
<script type="text/javascript" src="/scripts/sammy_hilary_controllers/home.js"></script>
<script type="text/javascript" src="/scripts/sammy_hilary_controllers/breweries.js"></script>
<script type="text/javascript" src="/scripts/sammyHilaryStart.js"></script>
