
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<script type="text/javascript" src="/scripts/simrou.js"></script>
<script type="text/javascript" src="/scripts/gidget.js"></script>
<script type="text/javascript" src="/scripts/simrouBootstrapper.js"></script>
<script type="text/javascript" src="/scripts/hilary.js"></script>
<script type="text/javascript" src="/scripts/simrou_hilary_controllers/home.js"></script>
<script type="text/javascript" src="/scripts/simrou_hilary_controllers/breweries.js"></script>
<script type="text/javascript" src="/scripts/simrouHilaryStart.js"></script>
