
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sammy.js/0.7.6/sammy.min.js"></script>
<script type="text/javascript" src="/scripts/gidget.js"></script>
<script type="text/javascript" src="/scripts/sammyBootstrapper.js"></script>
<script type="text/javascript" data-main="/scripts/sammyRequireStart.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>